
StackAndDeploy/.DS_Store

StackAndDeploy/StackAndDeploy.xcodeproj/project.xcworkspace/xcuserdata/joshuascorca.xcuserdatad/UserInterfaceState.xcuserstate

StackAndDeploy/StackAndDeploy.xcodeproj/project.xcworkspace/xcuserdata/johnwilson.xcuserdatad/UserInterfaceState.xcuserstate

.gitignore

StackAndDeploy/StackAndDeploy.xcodeproj/project.xcworkspace/xcuserdata/johnwilson.xcuserdatad/UserInterfaceState.xcuserstate

.gitignore

.gitignore

StackAndDeploy/StackAndDeploy.xcodeproj/project.xcworkspace/xcuserdata/johnwilson.xcuserdatad/UserInterfaceState.xcuserstate

StackAndDeploy/StackAndDeploy.xcodeproj/project.xcworkspace/xcuserdata/johnwilson.xcuserdatad/UserInterfaceState.xcuserstate

.gitignore

.gitignore

StackAndDeploy/.DS_Store
